.inner-content-area
{
    margin: 40px 0;
   

    .inner-content
    {
        padding-right: 50px;
       .name-box
        {
            li 
            {
                display: flex;
                justify-content: space-between;
                position: relative;
                line-height: 28px;
                background: $brand-color;
                margin: 0 0 9px 0;
                padding: 6px 10px;
                border-radius: 9px 0px 9px 0px;

                a 
                {

                    color: #fff; 
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover
                    {
                        color: #fff; 
                    }

                    &:last-child
                    {
                        position: absolute;
                        left: 30%;
                        font-weight: 600;
                        color: #333;
                    }
                   
                }

                span
                {
                    position: absolute;
                    left: 25%;
                    right: 0;
                    margin: 0 auto;
                    font-size: 20px;
                    font-weight: 600;
                    color: #fff;
                    margin: -2px 0 0 0;
                }
            }
        }


        p
        {
            line-height: 28px;

            .highlight
            {
                font-weight: 600;
                color: #000;
            }

            .link
            {
                color: $brand-color;
                text-decoration: none;
                font-weight: 600;
                &:hover
                {
                    color: $brand-color;
                }
            }
        }

        h6 
            {
                font-weight: 400;
            }

        .designation
        {
            li 
            {
                line-height: 30px;
                display: flex;
                justify-content: space-between;
                position: relative;

                h5 
                {
                    font-weight: 600;
                }

                .link1
                {
                    color: #3ea6e3;
                    text-decoration: none;
                    font-weight: 600;
                    position: relative;
                    left: 0;

                    &:hover
                    {
                        color: $brand-color;
                    }
                }
            }
        }


        .social-media
        {
            display: flex;
            flex-direction: row;
            li 
            {
                list-style: none;
                margin: 0 10px 0 0;

                a 
                {
                    background: $brand-color;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    i 
                    {
                        color: #fff;
                    }
                }
            }
        }

        .qr-code
        {
            margin: 30px 0 0 0;


            img 
            {
                width: 100px;
            }
        }


        .footer-first
        {
            margin: 60px 0 0 0;
            position: relative;

            &::before
            {
                 
                background: $brand-color;
                position: absolute;
                content: "";
                top: -20px;
                left: 0;
                right: 0; 
                width: 100%;
                height: 8px;
            }

            p 
            {
                line-height: 24px;
                margin: 0 0 0 0;
                font-size: 15px;
            }
        }

        // index-1 start

       



        .buyer1
        {
            position: relative;
            color: #727070;
            font-size: 18px;
            font-weight: 600;
            margin: 20px 0 15px 0;

            &::after
            {
                background: $brand-color;
                position: absolute;
                content: "";
                top: 10px;
                left: 90px;
                right: 0;
                width: 779px;
                height: 1px;
            }
        }
        .buyer
        {
            position: relative;
            color: #727070;
            font-size: 18px;
            font-weight: 600;

            &::after
            {
                background: $brand-color;
                position: absolute;
                content: "";
                top: 10px;
                left: 150px;
                right: 0;
                width: 719px;
                height: 1px;
            }
        }
        .terms
        {
            position: relative;
            color: #727070;
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 15px 0;

            &::after
            {
                background: $brand-color;
                position: absolute;
                content: "";
                top: 10px;
                left: 240px;
                right: 0;
                width: 619px;
                height: 1px;
            }
        }


        .terms-condition
        {
            li 
            {
                display: flex;
                justify-content: space-between;
                position: relative;
                line-height: 30px;

                a 
                {

                    color: $brand-color; 
                    font-size: 15px;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover
                    {
                        color: $brand-color; 
                    }

                    &:last-child
                    {
                        position: absolute;
                        left: 24%;
                        font-weight: 600;
                        color: #333;
                    }
                   
                }

                span
                {
                    position: absolute;
                    left: 20%;
                    right: 0;
                    margin: 0 auto;
                    font-size: 20px;
                    font-weight: 600;
                    color: $brand-color; 
                    margin: -2px 0 0 0;
                }
            }
        }

        .second-port
        {
            margin: 0 0 30px 0;
            li 
            {
                list-style: none;
                display: block;
                padding: 0 0 0 30px;
                position: relative;

                span 
                {
                    color: #000;
                    position: absolute;
                    font-size: 15px;
                    left: 3px;
                    top: 2px;
                }
            }
        }


        .contact
        {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            ul 
            {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                li 
                {
                    line-height: 24px;
                    list-style: none;
                    
                    .highlight
                    {
                        font-weight: 600;
                        color: #000;
                        margin: 0;
                    }
                    a 
                    {
                        position: unset;
                        color: #333;
                        font-weight: 500; 
                        text-decoration: none;
                    }
                    span 
                    {
                        position: unset;
                        margin: 0 5px 0 5px;
                        color: #333;
                    }
                }
            }
        }


        .footer-second
        {
            margin: 60px 0 0 0;
            position: relative;
            text-align: center;

            &::before
            {
                 
                background: $brand-color;
                position: absolute;
                content: "";
                top: -20px;
                left: 0;
                right: 0; 
                width: 100%;
                height: 8px;
            }

            p 
            {
                line-height: 24px;
                margin: 0 0 0 0;
                font-size: 15px;
                a 
                {
                    color: #333;
                    text-decoration: none;
                }
            }
        }


    }
    
    .inner-pic-area
    {  

        // ============ ONE START
        .one
        {
            background: $ash;
            padding: 10px 0px 0 10px;
            position: relative;

            &::after
         {
            background: $brand-color;
            position: absolute;
            content: "";
            bottom: -2px;
            left: 10px;
            width: 110px;
            height: 35px;
            clip-path: polygon(0 10%, 100% 0, 100% 86%, 0 95%);
            
         }
            

            a
            {
                 
                position: absolute;
                content: "";
                bottom: 2px;
                left: 4px;
                width: 110px;
                height: 34px;
                font-weight: 600;
                padding: 9px 0 0 11px;
                transform: rotate(358deg);
                z-index: 9;
                font-size: 15px;
            }


            img 
            {
                width: 100%;
                margin: 0;
                clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
            }
        }
        // ============ ONE END


     // ============ TWO START
     .two
     {
        background: $ash;
         padding: 0px 0px 0 10px;
         position: relative;

         &::after
         {
            background: $brand-color;
            position: absolute;
            content: "";
            bottom: -1px;
            right: 0;
            width: 130px;
            height: 35px;
            clip-path: polygon(0 0%, 100% 23%, 100% 100%, 0 86%);
            
         }

         a
         {
            
             position: absolute;
             content: "";
             bottom: 0px; 
             width: 130px; 
             font-weight: 600;
             padding: 9px 0 0 11px;
             z-index: 9;
             transform: rotate(2deg);
             height: 35px;
             right: 0px;
             font-size: 15px;
         }


         img 
         {
             width: 100%;
             margin: 0;
             clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
         }
     }
     // ============ TWO END

     // ============ THREE START
     .three
     {
        background: $ash;
         padding: 0px 0px 0 10px;
         position: relative;

         &::after
         {
            background: $brand-color;
            position: absolute;
            content: "";
            bottom: -3px;
            left: 9px;
            width: 180px;
            height: 35px;
            clip-path: polygon(0 10%, 100% 0, 100% 76%, 0 95%);
            
         }

         a
         {
            position: absolute;
                content: "";
                bottom: 3px;
                left: 4px;
                width: 200px;
                height: 34px;
                font-weight: 600;
                padding: 9px 0 0 11px;
                transform: rotate(359deg);
                z-index: 9;
                font-size: 15px;
         }


         img 
         {
             width: 100%;
             margin: 0;
             clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
         }
     }
     // ============ THREE END
     // ============ FOUR START
     .four
     {
        background: $ash;
         padding: 0px 0px 0 10px;
         position: relative;

         &::after
         {
            background: $brand-color;
            position: absolute;
            content: "";
            bottom: -1px;
            right: 0;
            width: 100px;
            height: 35px;
            clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0 89%);
            
         }

         a
         {
            
             position: absolute;
             content: "";
             bottom: 0px; 
             width: 100px; 
             font-weight: 600;
             padding: 9px 0 0 11px;
             z-index: 9;
             transform: rotate(2deg);
             height: 35px;
             right: 0px;
             font-size: 15px;
         }


         img 
         {
             width: 100%;
             margin: 0;
             clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 94%);
         }
     }
     // ============ FOUR END

          // ============ FIVE START
          .five
          {
            background: $ash;
              padding: 0px 0px 0 10px;
              position: relative;
  
              &::after
              {
                 background: $brand-color;
                 position: absolute;
                 content: "";
                 bottom: -1px;
                 left: 9px;
                 width: 150px;
                 height: 35px;
                 clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
                 
              }
                 
     
                 a
                 {
                      
                     position: absolute;
                     content: "";
                     bottom: 4px;
                     left: 6px;
                     width: 200px;
                     height: 34px;
                     font-weight: 600;
                     padding: 9px 0 0 11px;
                     transform: rotate(358deg);
                     z-index: 9;
                     font-size: 15px;
                 }
  
  
              img 
              {
                  width: 100%;
                  margin: 0;
                  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);
              }
          }
          // ============ FIVE END

               // ============ SIX START
        .six
        {
            background: $ash;
            padding: 0px 0px 10px 10px;
            position: relative;

            &::after
            {
               background: $brand-color;
               position: absolute;
               content: "";
               bottom: 10px;
               right: 0;
               width: 120px;
               height: 32px; 
               
            }
   
            a
            {
               
                position: absolute;
                content: "";
                bottom: 13px; 
                width: 120px; 
                font-weight: 600;
                padding: 9px 0 0 11px;
                z-index: 9; 
                height: 35px;
                right: 0px;
                font-size: 15px;
            }


            img 
            {
                width: 100%;
                margin: 0;
                clip-path: polygon(0 6%, 100% 0%, 100% 100%, 0 100%);
            }
        }
        // ============ SIX END


    }
}