/* ======================== variables ============================ */
$brand-color : #9dc33b;
$primary-color : #FFFFFF;
$secondary-color : #706F6F;
$ash : #bfbfbf; 
/* ======================== variables ============================ */