/* styles.css */
.padding-top-7 {
  padding-top: 7px;
}

/* styles.css */
.add-button {
  background-color: #007D88;
  color: white;
  padding: 4px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 11px;
}

/* styles.css */
.item-heading {
  font-size: 15px;
  color: black;
  font-weight: bold;
}

/* styles.css */
hr.my-1 {
  border: 0;
  border-top: 2px solid #007D88;
  margin: 2px 0;
}

/* styles.css */
.text-align-right {
  text-align: right;
}

/* styles.css */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

/* styles.css */
.additional-terms {
  text-align: justify;
  margin-top: 20px;
  color: #007D88;
  padding-bottom: 10px;
}

/* styles.css */
.remove-button {
  color: #007D88;
  border: 1px solid #007D88;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.vat-style {
  margin-top: 21px !important;
  margin-left: 188px !important;
}

.add-new-option {
  color: #007D88;
  font-style: italic;
}

.invalid-data {
  color: red;

}

/* CSS for the toggle switch */
.switch {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 24px !important;
}

.switch input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.slider {
  position: absolute !important;
  cursor: pointer !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #ccc !important;
  transition: .4s !important;
  border-radius: 24px !important;
}

.slider:before {
  position: absolute !important;
  content: "" !important;
  height: 16px !important;
  width: 16px !important;
  left: 4px !important;
  bottom: 4px !important;
  background-color: white !important;
  transition: .4s !important;
  border-radius: 50% !important;
}

input:checked+.slider {
  background-color: #28a745 !important;
}

input:checked+.slider:before {
  transform: translateX(16px) !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px !important;
}

.slider.round:before {
  border-radius: 50% !important;
}

.ycref {
  color: #017ac9;
  border-color: #017ac9;
  cursor: pointer;
}

.ymref {
  color: #9DC33B;
  border-color: #9DC33B;
  cursor: pointer;
}
.same-width {
    width: 100%; /* Ensures the dropdown matches the button's width */
}

.dropdown-menu a {
    display: block; /* Ensure full width for dropdown items */
    text-align: center; /* Center-align text to match button style */
}

@media (min-width: 768px) {
    /* For larger screens, you can add specific rules if needed */
    .same-width {
        max-width: 400px; /* Optional: Cap the width on larger screens */
    }
    input:disabled {
      color: black !important; /* Ensure the font color is black, overriding any default styles */
  }
  select[disabled] {
   color: black !important;
 }


}
